/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* A elements unvisited text color is black */
a:visited {
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.Home__Footer-Contact-Section-Header {
  font-family: "Shrikhand", cursive;
}

a:link {
  color: white;
}

.Home__Footer {
  color: white;
  background-color: #353535;
  padding: 30px 0px 30px 25px;
}

.Home__Footer-Contact-Section-Header {
  font-size: 25px;
  padding-bottom: 5px;
}

.Home__Footer-Contact-Section-List {
  list-style-type: none;
  padding-left: 0px;
}

.fa-solid {
  margin-right: 10px;
}

.fa-solid.fa-utensils {
  font-size: 20px;
}

.fa-solid.fa-handshake-angle {
  font-size: 15px;
  margin-right: 9px;
}

.Home__Footer-Contact-Section-List-Item {
  padding-bottom: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}

.Home__Footer-Contact-Section-List-Item--link {
  text-decoration: none;
}

.Home-Info__Btn-Title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  border: none;
  border-radius: 35px;
  padding: 15px 40px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px 2px #d3d3d3;
}

.Home-Instruct__Btn {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.Home-Instruct__Btn-Container-Btn {
  margin-left: 17px;
  margin-top: -22px;
  width: 85%;
  text-align: left;
  background-color: #f6f6f6;
  border: none;
  border-radius: 33px;
  padding: 30px 15px;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0px 5px 10px 2px #d3d3d3;
}

.Home-Instruct__Btn-Container-Icon {
  color: #7b7b7b;
  padding-right: 10px;
  margin-right: 25px;
  padding-left: 30px;
  position: relative;
  font-size: 30px;
}

.Home-Instruct__Btn-Container-Btn.Color {
  background-color: #F4EDFE;
}

.Home-Instruct__Btn-Container-Icon.Color {
  color: #8354C9;
}

.Rest-Card {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  padding-bottom: 90px;
}
.Rest-Card__Header {
  margin-left: 30px;
  padding-top: 65px;
  font-size: 35px;
}

.Rest-Card__Link {
  text-decoration: none;
  padding: 0px 30px;
}

.Rest-Card__Link-Container {
  height: 100%;
  flex-basis: 30%;
  position: relative;
}

.Rest-Card__Link-Container-Image-Container-Image {
  height: 325px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 1px 1px 20px #bebebe;
}

.Rest-Card__Link-Container-Image-Container-Image.Full-Position {
  object-position: 0% 86%;
}

.Rest-Card__Link-Container-Image-Container-Image.Enchanted-Position {
  object-position: 0% 59%;
}

.Rest-Card__Link-Container-Image-Container-Image.Bastille-Position {
  object-position: 0% 80%;
}

.Rest-Card__Link-Container-Image-Container-Image.Gourmand-Position {
  object-position: 0% 90%;
}

.Rest-Card__Link-Container-Image-Container-Banner-Title {
  display: inline-block;
  color: #3A8568;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  padding: 8px 55px;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  border-radius: 5px;
}

.Rest-Card__Link-Container-Description {
  flex-grow: 1;
  background-color: white;
  padding: 15px 20px 22px 20px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 1px 1px 20px #cbcbcb;
  position: relative;
}

.Rest-Card__Link-Container-Description-Title {
  font-size: 30px;
}

.Rest-Card__Link-Container-Description-Location {
  font-size: 25px;
  font-weight: 300;
}

.fa-solid.fa-heart {
  margin-right: 0px;
}

.Rest-Card__Link-Container-Description-Icon {
  font-size: 45px;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

.Rest-Card__Link-Container-Description-Icon.Filled {
  opacity: 0;
  transition: 0.5s opacity;
}

.Rest-Card__Link-Container-Description-Icon.Filled:hover {
  opacity: 1;
  color: #9356DC;
}

.Home-Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.Home-Header__Image {
  height: 45px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.Home-Header__Location {
  background-color: #eaeaea;
  font-size: 25px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid #cecece;
}

.Home__Location--Icon {
  font-size: 28px;
}

.Home__Location--Location {
  margin-right: 50px;
}

.Home-Info {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  padding-top: 45px;
  padding-bottom: 90px;
}
.Home-Info__Header {
  font-size: 38px;
  margin-right: 30px;
}
.Home-Info__SubHeader {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin-left: 20px;
  line-height: 35px;
}

.Home-Instruct {
  background-color: #ffffff;
  padding: 55px 0px 98px 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.Home-Instruct__Header {
  font-size: 35px;
}

.Custom-Counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Custom-Counter li {
  counter-increment: step-counter;
}

.Custom-Counter li::before {
  content: counter(step-counter);
  margin-top: 15px;
  font-size: 20px;
  background-color: #9356DC;
  color: white;
  padding: 1px 11px;
  border-radius: 50%;
  position: absolute;
}
