/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* A elements unvisited text color is black */
a:visited {
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.Home__Footer {
  color: white;
  background-color: #353535;
  padding: 30px 0px 30px 25px;
}

.Home__Footer-Contact-Section-Header {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding-bottom: 5px;
}

.Home__Footer-Contact-Section-List {
  list-style-type: none;
  padding-left: 0px;
}

.fa-solid {
  margin-right: 10px;
}

.fa-solid.fa-utensils {
  font-size: 20px;
}

.fa-solid.fa-handshake-angle {
  font-size: 15px;
  margin-right: 9px;
}

.Home__Footer-Contact-Section-List-Item {
  padding-bottom: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}
.Home__Footer-Contact-Section-List-Item a.Home__Footer-Contact-Section-List-Item--link {
  color: white;
}

.Home__Footer-Contact-Section-List-Item--link {
  text-decoration: none;
}

.Bounce-Loader__Container {
  display: flex;
  justify-content: space-around;
}

.Bounce-Loader {
  position: absolute;
  width: 100%;
  height: 25px;
  margin-top: 450px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  gap: 10px;
}
@media (min-width: 540px) {
  .Bounce-Loader {
    width: 50%;
  }
}
@media screen and (min-width: 770px) {
  .Bounce-Loader {
    width: 40%;
  }
}
@media screen and (min-width: 1025px) {
  .Bounce-Loader {
    width: 35%;
  }
}
@media screen and (min-width: 1440px) {
  .Bounce-Loader {
    width: 25%;
  }
}

.Bounce-Loader div {
  width: 100%;
  height: 100%;
  background: #9356DC;
  border-radius: 50%;
  animation: bouncer 2s cubic-bezier(0.19, 0.57, 0.3, 0.98) 4 alternate forwards;
}

.Bounce-Loader div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.Bounce-Loader div:nth-child(3) {
  background: #FF79DA;
  animation-delay: 0.2s;
  opacity: 0.6;
}

.Bounce-Loader div:nth-child(4) {
  background: #FF79DA;
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
  }
}
p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.Home-Info__Btn-Title {
  box-shadow: 0px 5px 5px 2px #b8b8b8;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 35px;
  padding: 15px 40px;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
@media screen and (min-width: 540px) {
  .Home-Info__Btn-Title {
    font-size: 25px;
  }
}
.Home-Info__Btn-Title:hover {
  box-shadow: 5px 8px 15px #3d3d3d;
  opacity: 0.8;
}

.Home-Instruct__Btn {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.Home-Instruct__Btn--Item:hover {
  transform: translateY(-2px);
}

.Home-Instruct__Btn-Container-Btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-left: 15px;
  margin-top: -12px;
  width: 85%;
  text-align: left;
  background-color: #f6f6f6;
  border: none;
  border-radius: 33px;
  padding: 25px 15px;
  box-shadow: 0px 5px 10px 2px #d3d3d3;
}
.Home-Instruct__Btn-Container-Btn:hover {
  box-shadow: 5px 8px 15px #adadad;
  background-color: #F5EDFE;
}
.Home-Instruct__Btn-Container-Btn:hover .Home-Instruct__Btn-Container-Icon {
  color: #8354C9;
}
@media screen and (min-width: 540px) {
  .Home-Instruct__Btn-Container-Btn {
    font-size: 28px;
    display: flex;
    gap: 35px;
    align-items: baseline;
    margin-top: -19px;
  }
}
@media screen and (min-width: 770px) {
  .Home-Instruct__Btn-Container-Btn {
    width: 80%;
  }
}

.Home-Instruct__Btn-Container-Icon {
  font-size: 25px;
  color: #7b7b7b;
  position: relative;
  padding-left: 15px;
}
@media screen and (min-width: 540px) {
  .Home-Instruct__Btn-Container-Icon {
    font-size: 32px;
    padding-left: 50px;
  }
}

.Home-Instruct__Desktop-Btn {
  position: absolute;
  height: 200px;
  z-index: 2;
  top: 1.5rem;
  right: 2rem;
}

.Home-Instruct__Desktop-Btn--Btn {
  display: none;
}
@media screen and (min-width: 1025px) {
  .Home-Instruct__Desktop-Btn--Btn {
    box-shadow: 0px 5px 5px 2px #b8b8b8;
    cursor: pointer;
    display: block;
    color: white;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(#FF79DA, #9356DC);
    border: none;
    border-radius: 35px;
    padding: 15px 40px;
  }
  .Home-Instruct__Desktop-Btn--Btn:hover {
    box-shadow: 5px 8px 15px #3d3d3d;
    opacity: 0.8;
  }
}

p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.Rest-Card {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  align-items: stretch;
  gap: 30px;
  padding-bottom: 90px;
}
.Rest-Card__Header {
  font-size: 35px;
  margin-left: 30px;
  padding-top: 65px;
}

.Rest-Card__Link {
  text-decoration: none;
  padding: 0px 30px;
}
.Rest-Card__Link-Container {
  height: 100%;
  flex-basis: 30%;
  position: relative;
}

.Rest-Card__Link-Container-Image-Container-Image {
  box-shadow: 1px 1px 20px #cbcbcb;
  height: 325px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.Rest-Card__Link-Container-Image-Container-Image.Full-Position {
  object-position: 0% 86%;
}

.Rest-Card__Link-Container-Image-Container-Image.Enchanted-Position {
  object-position: 0% 59%;
}

.Rest-Card__Link-Container-Image-Container-Image.Bastille-Position {
  object-position: 0% 80%;
}

.Rest-Card__Link-Container-Image-Container-Image.Gourmand-Position {
  object-position: 0% 90%;
}

.Rest-Card__Link-Container-Image-Container-Banner-Title {
  color: #3A8568;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #99E2D0;
  border-radius: 5px;
  background: #99E2D0;
  padding: 8px 55px;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
}

.Rest-Card__Link-Container-Description {
  box-shadow: 1px 1px 20px #cbcbcb;
  flex-grow: 1;
  background-color: white;
  padding: 15px 20px 22px 20px;
  border-radius: 0px 0px 25px 25px;
  position: relative;
}

.Rest-Card__Link-Container-Description-Title {
  font-size: 30px;
}

.Rest-Card__Link-Container-Description-Location {
  font-size: 25px;
  font-weight: 300;
}
@media screen and (min-width: 1025px) {
  .Rest-Card__Link-Container-Description-Location {
    font-size: 28px;
  }
}

.fa-solid.fa-heart {
  margin-right: 0px;
}

.Rest-Card__Link-Container-Description-Icon {
  font-size: 45px;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

.Rest-Card__Link-Container-Description-Icon.Filled {
  opacity: 0;
  transition: 0.5s opacity;
}

.Rest-Card__Link-Container-Description-Icon.Filled:hover,
.Rest-Card__Link-Container-Description-Icon.Filled:focus-visible {
  opacity: 1;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.Home-Container {
  position: relative;
  opacity: 0;
  animation: home 1.5s linear 8s forwards;
}

.Home-Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home-Header__Image {
  height: 42px;
  margin-top: 40px;
  margin-bottom: 5px;
}
@media screen and (min-width: 540px) {
  .Home-Header__Image {
    height: 50px;
  }
}

.Home-Header__Image-Container {
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 5px 2px #b8b8b8;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.Home-Header__Location {
  font-size: 23px;
  background-color: #eaeaea;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: baseline;
  padding: 20px 45px 20px 0px;
}
@media screen and (min-width: 540px) {
  .Home-Header__Location {
    font-size: 29px;
  }
}

.Home-Info {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 45px;
  padding-bottom: 90px;
}
.Home-Info__Header {
  font-size: 25px;
}
@media screen and (min-width: 540px) {
  .Home-Info__Header {
    font-size: 45px;
  }
}
.Home-Info__SubHeader {
  line-height: 35px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}
@media screen and (min-width: 540px) {
  .Home-Info__SubHeader {
    font-size: 29px;
  }
}
@media screen and (min-width: 770px) {
  .Home-Info__SubHeader {
    font-size: 34px;
  }
}

.Home-Instruct {
  background-color: #ffffff;
  padding: 55px 0px 98px 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 1025px) {
  .Home-Instruct {
    order: -1;
    padding: 0px;
  }
}
.Home-Instruct:hover .Home-Instruct__Desktop {
  display: block;
}
@media screen and (min-width: 1025px) {
  .Home-Instruct:hover .Home-Instruct__Desktop {
    padding: 55px 0px 98px 25px;
  }
}
.Home-Instruct__Header {
  font-size: 30px;
  margin-bottom: 45px;
}
@media screen and (min-width: 540px) {
  .Home-Instruct__Header {
    font-size: 43px;
  }
}

.Rest-Card__Header {
  font-size: 32px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Header {
    font-size: 43px;
  }
}

.Rest-Card__Container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (min-width: 770px) {
  .Rest-Card__Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 0px;
  }
}
.Rest-Card__Container a.Rest-Card__Link {
  color: black;
}
@media screen and (min-width: 770px) {
  .Rest-Card__Container a.Rest-Card__Link {
    flex-basis: 50%;
  }
}

.Rest-Card__Link-Container-Image-Container-Image {
  height: 200px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Image-Container-Image {
    height: 275px;
  }
}
@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Image-Container-Image {
    object-position: 55% 0%;
  }
}

.Rest-Card__Link-Container-Image-Container-Banner-Title {
  font-size: 18px;
  right: 1rem;
  padding: 8px 40px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Image-Container-Banner-Title {
    font-size: 24px;
    padding: 8px 55px;
    border-radius: 3px;
  }
}
@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Image-Container-Banner-Title {
    font-size: 18px;
    padding: 8px 45px;
    top: 1.2rem;
    right: 1rem;
  }
}

.Rest-Card__Link-Container-Description-Title,
.Rest-Card__Link-Container-Description-Location {
  font-size: 15px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Description-Title,
.Rest-Card__Link-Container-Description-Location {
    font-size: 25px;
  }
}

.Rest-Card__Link-Container-Description-Icon {
  font-size: 30px;
  bottom: 1.8rem;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Description-Icon {
    font-size: 45px;
    bottom: 2.8rem;
  }
}
@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Description-Icon {
    font-size: 35px;
    bottom: 2.5rem;
    right: 1.7rem;
  }
}

.Custom-Counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Custom-Counter li {
  counter-increment: step-counter;
}

.Custom-Counter li::before {
  content: counter(step-counter);
  margin-top: 15px;
  font-size: 20px;
  background-color: #9356DC;
  color: white;
  padding: 1px 11px;
  border-radius: 50%;
  position: absolute;
}

@keyframes home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Image-Container {
    height: 250px;
  }
  .Rest-Card__Link-Container-Description-Location {
    font-size: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .Home-Instruct__Desktop {
    display: none;
  }
  .Home-Instruct__Header {
    margin-bottom: 50px;
  }
}
