/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* A elements unvisited text color is black */
a:visited {
  color: blue;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.Home__Footer-Contact-Section-Header {
  font-family: "Shrikhand", cursive;
}

.Home-Header__Location {
  font-size: 23px;
}
@media screen and (min-width: 540px) {
  .Home-Header__Location {
    font-size: 29px;
  }
}

.Home-Info__Header {
  font-size: 25px;
}
@media screen and (min-width: 540px) {
  .Home-Info__Header {
    font-size: 45px;
  }
}

.Home-Info__SubHeader {
  font-weight: 300;
  font-size: 18px;
}
@media screen and (min-width: 540px) {
  .Home-Info__SubHeader {
    font-size: 29px;
  }
}
@media screen and (min-width: 770px) {
  .Home-Info__SubHeader {
    font-size: 34px;
  }
}

.Home-Instruct__Header {
  font-size: 30px;
}
@media screen and (min-width: 540px) {
  .Home-Instruct__Header {
    font-size: 43px;
  }
}

.Rest-Card__Header {
  font-size: 32px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Header {
    font-size: 43px;
  }
}

.Rest-Card__Link-Container-Image-Container-Banner-Title {
  font-size: 18px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Image-Container-Banner-Title {
    font-size: 24px;
  }
}
@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Image-Container-Banner-Title {
    font-size: 18px;
  }
}

.Rest-Card__Link-Container-Description-Title,
.Rest-Card__Link-Container-Description-Location {
  font-size: 15px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Description-Title,
.Rest-Card__Link-Container-Description-Location {
    font-size: 25px;
  }
}

.Rest-Card__Link-Container-Description-Icon {
  font-size: 30px;
}
@media screen and (min-width: 540px) {
  .Rest-Card__Link-Container-Description-Icon {
    font-size: 45px;
  }
}
@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Description-Icon {
    font-size: 35px;
  }
}

@media screen and (min-width: 770px) {
  .Rest-Card__Link-Container-Description-Location {
    font-size: 24px;
  }
}
.Rest-Home__Header-Container-Link {
  font-size: 30px;
}
@media screen and (min-width: 540px) {
  .Rest-Home__Header-Container-Link {
    font-size: 35px;
  }
}

.Rest-Menu__Header-Container-Title {
  font-family: "Shrikhand", cursive;
}

.Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon {
  font-size: 25px;
}
@media screen and (min-width: 540px) {
  .Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon {
    font-size: 45px;
  }
}
@media screen and (min-width: 1025px) {
  .Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon {
    font-size: 55px;
  }
}

.Rest-Menu__Course-Container-Title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #7C7C7C;
}
@media screen and (min-width: 540px) {
  .Rest-Menu__Course-Container-Title {
    font-size: 30px;
  }
}

.Rest-Card__Header {
  font-size: 35px;
}

.Rest-Card__Link-Container-Image-Container-Banner-Title {
  color: #3A8568;
  font-size: 25px;
  font-weight: 500;
}

.Rest-Card__Link-Container-Description-Title {
  font-size: 30px;
}

.Rest-Card__Link-Container-Description-Location {
  font-size: 25px;
  font-weight: 300;
}
@media screen and (min-width: 1025px) {
  .Rest-Card__Link-Container-Description-Location {
    font-size: 28px;
  }
}

.Rest-Card__Link-Container-Description-Icon {
  font-size: 45px;
}

.Home-Info__Btn-Title {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 540px) {
  .Home-Info__Btn-Title {
    font-size: 25px;
  }
}

.Home-Instruct__Btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.Home-Instruct__Btn-Container-Icon {
  font-size: 25px;
}
@media screen and (min-width: 540px) {
  .Home-Instruct__Btn-Container-Icon {
    font-size: 32px;
  }
}

.Home-Instruct__Desktop-Btn--Btn {
  color: white;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 540px) {
  .Home-Instruct__Btn-Container-Btn {
    font-size: 28px;
  }
}
.Rest-Menu__Course-Container-List--Item-Button {
  font-family: "Roboto", sans-serif;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title {
  font-weight: 500;
}
@media screen and (min-width: 540px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title {
    font-size: 33px;
  }
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
  font-weight: lighter;
}
@media screen and (min-width: 540px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
    font-size: 27px;
  }
}

.fa-solid.fa-check {
  font-size: 15px;
}
@media screen and (min-width: 540px) {
  .fa-solid.fa-check {
    font-size: 22px;
  }
}

.Rest-Menu__Course-Container-Button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
@media screen and (min-width: 540px) {
  .Rest-Menu__Course-Container-Button {
    font-size: 25px;
  }
}
@media screen and (mid-width: 1025px) {
  .Rest-Menu__Course-Container-Button {
    font-size: 35px;
  }
}

.Rest-Menu__Course-Container-Button-Title {
  color: white;
}

@media screen and (min-width: 540px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price {
    font-size: 30px;
  }
}
.Home__Footer {
  color: white;
  background-color: #353535;
  padding: 30px 0px 30px 25px;
}

.Home__Footer-Contact-Section-Header {
  font-size: 25px;
  padding-bottom: 5px;
}

.Home__Footer-Contact-Section-List {
  list-style-type: none;
  padding-left: 0px;
}

.fa-solid {
  margin-right: 10px;
}

.fa-solid.fa-utensils {
  font-size: 20px;
}

.fa-solid.fa-handshake-angle {
  font-size: 15px;
  margin-right: 9px;
}

.Home__Footer-Contact-Section-List-Item {
  padding-bottom: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}
.Home__Footer-Contact-Section-List-Item a.Home__Footer-Contact-Section-List-Item--link {
  color: white;
}

.Home__Footer-Contact-Section-List-Item--link {
  text-decoration: none;
}

.Bounce-Loader {
  position: absolute;
  width: 100%;
  height: 25px;
  margin-top: 450px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  gap: 10px;
  align-items: stretch;
}
@media (min-width: 540px) {
  .Bounce-Loader {
    width: 60%;
    margin-left: 115px;
  }
}
@media screen and (min-width: 770px) {
  .Bounce-Loader {
    width: 40%;
    margin-left: 235px;
  }
}
@media screen and (min-width: 1025px) {
  .Bounce-Loader {
    width: 35%;
    margin-left: 330px;
    height: 50px;
  }
}

.Bounce-Loader div {
  width: 100%;
  height: 100%;
  background: #9356DC;
  border-radius: 50%;
  animation: bouncer 2s cubic-bezier(0.19, 0.57, 0.3, 0.98) 4 alternate forwards;
}

.Bounce-Loader div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.Bounce-Loader div:nth-child(3) {
  background: #FF79DA;
  animation-delay: 0.2s;
  opacity: 0.6;
}

.Bounce-Loader div:nth-child(4) {
  background: #FF79DA;
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
  }
}
