/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* A elements unvisited text color is black */
a:visited {
  color: blue;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.Home__Footer-Contact-Section-Header {
  font-family: "Shrikhand", cursive;
}

.Home__Footer {
  color: white;
  background-color: #353535;
  padding: 30px 0px 30px 25px;
}

.Home__Footer-Contact-Section-Header {
  font-size: 25px;
  padding-bottom: 5px;
}

.Home__Footer-Contact-Section-List {
  list-style-type: none;
  padding-left: 0px;
}

.fa-solid {
  margin-right: 10px;
}

.fa-solid.fa-utensils {
  font-size: 20px;
}

.fa-solid.fa-handshake-angle {
  font-size: 15px;
  margin-right: 9px;
}

.Home__Footer-Contact-Section-List-Item {
  padding-bottom: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}
.Home__Footer-Contact-Section-List-Item a.Home__Footer-Contact-Section-List-Item--link {
  color: white;
}

.Home__Footer-Contact-Section-List-Item--link {
  text-decoration: none;
}

.Bounce-Loader {
  margin-top: 450px;
  width: 100%;
  height: 100px;
  display: flex;
  gap: 15px;
  position: absolute;
  padding-left: 75px;
  padding-right: 75px;
}

.Bounce-Loader div {
  width: 100%;
  height: 100px;
  background: #9356DC;
  border-radius: 50%;
  animation: bouncer 2s cubic-bezier(0.19, 0.57, 0.3, 0.98) 4 alternate forwards;
}

.Bounce-Loader div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.Bounce-Loader div:nth-child(3) {
  background: #FF79DA;
  animation-delay: 0.2s;
  opacity: 0.6;
}

.Bounce-Loader div:nth-child(4) {
  background: #FF79DA;
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Rest-Menu__Course-Container-List--Item-Button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 20px;
  padding: 15px 12px;
  background-color: #FFFFFF;
  text-align: left;
  width: 100%;
  position: relative;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title,
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price,
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
  font-size: 20px;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title {
  font-weight: 500;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title {
    font-size: 33px;
  }
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
  font-weight: lighter;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
    font-size: 27px;
  }
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title,
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
  width: 100%;
  padding-right: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title,
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
    padding-right: 85px;
  }
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price {
  padding-right: 8px;
  position: absolute;
  right: 0.5rem;
  top: 2.8rem;
  transition: right 1s;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price {
    font-size: 30px;
    right: 1.5rem;
    top: 3.8rem;
  }
}

.Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon {
  height: 100%;
  width: 0%;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #99E2D0;
  color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 0;
}

.fa-solid.fa-check {
  font-size: 15px;
  margin-top: 30px;
  margin-right: 2px;
  padding: 5px 7px;
  border: 1px solid white;
  border-radius: 50px;
  background: white;
}
@media screen and (min-width: 640px) {
  .fa-solid.fa-check {
    font-size: 22px;
    margin-top: 45px;
  }
}

.Rest-Menu__Course-Container-Button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Course-Container-Button {
    font-size: 25px;
  }
}

.Rest-Menu__Course-Container-Button-Title {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  margin-bottom: 100px;
  margin-top: 45px;
  padding: 18px 75px;
  border-radius: 40px;
  box-shadow: 0px 5px 5px 2px #b8b8b8;
}

.Rest-Menu__Course-Container-List--Item-Button:hover .Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon,
.Rest-Menu__Course-Container-List--Item-Button:focus .Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon,
.Rest-Menu__Course-Container-List--Item-Button:focus-visible .Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon {
  opacity: 1;
  width: 15%;
}

.Rest-Menu__Course-Container-List--Item-Button:hover .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price,
.Rest-Menu__Course-Container-List--Item-Button:focus .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price,
.Rest-Menu__Course-Container-List--Item-Button:focus-visible .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price {
  right: 15%;
}

.Rest-Menu__Course-Container-List--Item-Button:hover .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle,
.Rest-Menu__Course-Container-List--Item-Button:focus .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle,
.Rest-Menu__Course-Container-List--Item-Button:focus-visible .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle {
  width: 55%;
}

.Rest-Menu__Course-Container-List--Item {
  animation: fadeInUp 500ms ease-out both;
}
.Rest-Menu__Course-Container-List--Item:nth-child(1) {
  animation-delay: 1250ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(2) {
  animation-delay: 1500ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(3) {
  animation-delay: 1750ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(4) {
  animation-delay: 2000ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(5) {
  animation-delay: 2250ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(6) {
  animation-delay: 2500ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(7) {
  animation-delay: 2750ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(8) {
  animation-delay: 3000ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(9) {
  animation-delay: 3250ms;
}
.Rest-Menu__Course-Container-List--Item:nth-child(10) {
  animation-delay: 3500ms;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
  }
}
.Rest-Home__Header {
  display: flex;
  flex-direction: column;
}

.Rest-Home__Header-Container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 30px;
}

.Rest-Home__Header-Container-Image {
  height: 40px;
}
@media screen and (min-width: 640px) {
  .Rest-Home__Header-Container-Image {
    height: 48px;
  }
}

.Rest-Home__Header-Image-Container-Image {
  height: 345px;
  width: 100%;
}

.Rest-Home__Header-Container-Link {
  order: -1;
  font-size: 30px;
  position: absolute;
  left: 1rem;
}
@media screen and (min-width: 640px) {
  .Rest-Home__Header-Container-Link {
    font-size: 35px;
  }
}

.fa-solid.fa-heart {
  margin-right: 0px;
}

.Rest-Menu {
  background-color: #F6F6F6;
  position: relative;
  margin-top: -65px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 640px) {
  .Rest-Menu {
    margin-top: -75px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
  }
}

.Rest-Menu__Header-Container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 35px;
  padding-top: 45px;
}

.Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon {
  font-size: 25px;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon {
    font-size: 45px;
  }
}

.Rest-Menu__Header-Container-Title {
  font-family: "Shrikhand", cursive;
}

.Rest-Menu__Header-Container-Icon {
  position: absolute;
  right: 0.9rem;
  top: 3rem;
  margin-right: 0px;
  padding-right: 35px;
}

.Rest-Menu__Header-Container-Icon.Filled {
  position: absolute;
  opacity: 0;
}

.Rest-Menu__Course {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Rest-Menu__Course-Container-Title {
  display: inline-block;
  color: #7C7C7C;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 640px) {
  .Rest-Menu__Course-Container-Title {
    font-size: 30px;
  }
}

.Rest-Menu__Header-Container-Icon:hover {
  opacity: 1;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.Rest-Menu__Course-Container-Title:after {
  content: "";
  display: block;
  width: 50%;
  padding-top: 3px;
  border-bottom: 4px solid #99E2D0;
}

.Rest-Menu__Course-Container-List {
  padding-left: 0px;
}

.Rest-Menu__Course-Container-List--Item {
  list-style: none;
  margin-bottom: 25px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px #e0e0e0;
  border-radius: 20px;
}
