// all imports needed to style rest menu page
@import "./main.scss";                 //imports all global stylings
@import "./components/rest-buttons";   //imports rest menu page button stylings
@import "./utils/variables";           //imports all variables needed to style rest menu page


// all stylings pertaining to the rest menu page
.Rest-Home__Header{
    display: flex;
    flex-direction: column;
}

.Rest-Home__Header-Container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 30px
}

.Rest-Home__Header-Container-Image{
    height: 40px;
    

    @media screen and (min-width: 640px){
        height: 48px;
    }
}

.Rest-Home__Header-Image-Container-Image{
    height: 345px;
    width: 100%;
}

.Rest-Home__Header-Container-Link{
    order: -1;
    font-size: 30px;
    //color: #343434;
    position: absolute;
    left: 1rem;

    @media screen and (min-width: 640px){
        font-size: 35px;
    }
}

// the below line of code removes the right margin on
// the solid heart icon
.fa-solid.fa-heart{
    margin-right: 0px;
}

.Rest-Menu{
    background-color: #F6F6F6;
    position: relative;
    margin-top: -65px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 640px){
        margin-top: -75px;
        border-top-right-radius: 80px;
        border-top-left-radius: 80px;
    }
}

.Rest-Menu__Header-Container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 35px;
    padding-top: 45px;
}

.Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon{
    font-size: 25px;

    @media screen and (min-width: 640px){
        font-size: 45px;
    }
}

.Rest-Menu__Header-Container-Title{
    font-family: 'Shrikhand', cursive;
}

.Rest-Menu__Header-Container-Icon{
    position: absolute;
    right: 0.9rem;
    top: 3rem;
    margin-right: 0px;
    padding-right: 35px;
}

.Rest-Menu__Header-Container-Icon.Filled{
    position: absolute;
    opacity: 0;
}

.Rest-Menu__Course{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Rest-Menu__Course-Container-Title{
    display: inline-block;
    color: #7C7C7C;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    @media screen and (min-width: 640px){
        font-size: 30px;
    }
}

.Rest-Menu__Header-Container-Icon:hover{
    opacity: 1;  
    background-image: linear-gradient(180deg, $primary_color, $secondary_color);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

//the following code allows me to adjust the length
//of the border under the Rest-Menu__Course-Container-Title
.Rest-Menu__Course-Container-Title:after {
    content: ""; 
    display: block; 
    width: 50%; 
    padding-top: 3px; 
    border-bottom: 4px solid $tertiary_color; 
}

.Rest-Menu__Course-Container-List {
    padding-left: 0px;
}

.Rest-Menu__Course-Container-List--Item{
    list-style: none;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 2px #e0e0e0;
    border-radius: 20px;
}




