// all imports needed to style rest menu page
@import "./main.scss";                 //imports all global stylings
@import "./components/rest-buttons";   //imports rest menu page button stylings
@import "./utils/variables";           //imports all variables needed to style rest menu page
@import "./utils/mixins";              //imports mixins
@import "./base/typography";           //imports all font rules

// all stylings pertaining to the rest menu page
.Rest-Home__Header{
    @include layout;
}

.Rest-Home__Header-Container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 30px;
    &-Image{
        height: 40px;
        // mobile layout breakpoint
        @media screen and (min-width: $mobile){
            height: 48px;
        }
        // desktop layout breakpoint
        @media screen and (min-width: $desktop){
            height: 55px;
        }
    }
    &-Link{
        font-size: 30px;
        order: -1;
        position: absolute;
        left: 1rem;
        // mobile layout breakpoint
        @media screen and (min-width: $mobile){
            font-size: 35px;
        }
    }
}

.Rest-Home__Header-Image-Container-Image{
    width: 100%;
    height: 345px;
    object-fit: cover;
    // tablet layout breakpoint
    @media screen and (min-width: $tablet){
        height: 500px;
    }
    // desktop layout breakpoint
    @media screen and (min-width: $desktop){
        height: 650px;      
    }
}

.Rest-Home__Header-Image-Container-Image.Gourmand{
    object-position: bottom;
    // desktop layout breakpoint
    @media screen and (min-width: $desktop){
        object-position: 0% 40%;
    }
}

// the below line of code removes the right margin on
// the solid heart icon
.fa-solid.fa-heart{
    margin-right: 0px;
}

.Rest-Menu{
    background-color: #F6F6F6;
    position: relative;
    margin-top: -65px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    // mobile layout breakpoint
    @media screen and (min-width: $mobile){
        margin-top: -75px;
        border-top-right-radius: 80px;
        border-top-left-radius: 80px;
    }
}

.Rest-Menu__Header-Container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 35px;
    padding-top: 45px;
    // desktop layout breakpoint
    @media screen and (min-width: $desktop){
        padding: 60px 0px 85px 120px;
    }
    &-Title{
        font-family: $shrikhand;  
    }
    &-Icon{
        position: absolute;
        right: 0.9rem;
        top: 3rem;
        margin-right: 0px;
        padding-right: 35px;
        // desktop layout breakpoint
        @media screen and (min-width: $desktop){
            padding-right: 140px;      
        }
    }
    &-Icon.Filled{
        position: absolute;
        opacity: 0;
    }
}

.Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon{
    font-size: 25px;
    // mobile layout breakpoint
    @media screen and (min-width: $mobile){
        font-size: 45px;
    }
    // desktop layout breakpoint
    @media screen and (min-width: $desktop){
        font-size: 55px;   
    }
}

.Rest-Menu__Header-Container-Title.Modified{
    font-size: 33px;
}

.Rest-Menu__Header-Container-Icon:hover{
    opacity: 1;  
    background-image: linear-gradient(180deg, $primary_color, $secondary_color);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.Rest-Menu__Course{
    @include layout;
    gap: 25px;
    // desktop layout breakpoint
    @media screen and (min-width: $desktop){
        flex-direction: row;
        justify-content: center;           
    }
}

.Rest-Menu__Course-Container-Title{
    display: inline-block;
    font-family: $roboto;
    font-size: 20px;
    font-weight: 400;
    color: #7C7C7C; 
    // mobile layout breakpoint
    @media screen and (min-width: $mobile){
        font-size: 30px;
    }
}

// the following code allows programer to adjust the length
// of the border under the Rest-Menu__Course-Container-Title
.Rest-Menu__Course-Container-Title:after{
    content: ""; 
    display: block; 
    width: 50%; 
    padding-top: 3px; 
    border-bottom: 4px solid $tertiary_color; 
}

.Rest-Menu__Course-Container-List{
    padding-left: 0px;
    &--Item{
        list-style: none;
        margin-bottom: 25px;
        overflow: hidden;
        box-shadow: 0px 5px 10px 2px #e0e0e0;
        border-radius: 20px;
    }
}// the is the end of the 'Container Header bottom border' code

// additional styling for desktop layout
@media screen and (min-width: $desktop){
    .Rest-Home__Header-Image-Container-Image.Full{
        object-position: 0% 65%;
    }

    .Rest-Home__Header-Image-Container-Image.Enhanced{
        object-position: 0% 60%;
    }

    .Rest-Home__Header-Image-Container-Image.Bastille{
        object-position: 0% 80%;
    }

    .Rest-Home__Header-Container-Image.Gourmand{
        object-position: 0% 40%;
    }

    .Rest-Menu__Course-Container{
        width: 32%;
    }
}


