// all imports needed to style rest menu page
@import "./main.scss";                 //imports all global stylings
@import "./components/rest-buttons";   //imports rest menu page button stylings
@import "./utils/variables";           //imports all variables needed to style rest menu page

// all stylings pertaining to the rest menu page
.Rest-Home__Header{
    display: flex;
    flex-direction: column;
}

.Rest-Home__Header-Container{
    margin-left: 75px;
    display: flex;
    gap: 123px;
    padding-bottom: 15px;
    padding-top: 30px
}

.Rest-Home__Header-Container-Image{
    height: 50px;
}

.Rest-Home__Header-Container-Icon{
    order: -1;
    font-size: 35px;
    color: #343434;
}

.Rest-Menu{
    background-color: #F6F6F6;
    padding-left: 40px;
    padding-right: 40px;
}

.Rest-Menu__Header-Container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 35px;
}

.Rest-Menu__Header-Container-Icon{
    font-size: 35px;
}

.Rest-Menu__Header-Container-Title{
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
}

.Rest-Menu__Course-Container-Title{
    display: inline-block;
    color: #7C7C7C;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

//the following code allows me to adjust the length
//of the border under the Rest-Menu__Course-Container-Title
.Rest-Menu__Course-Container-Title:after {
    content: ""; 
    display: block; 
    width: 60%; 
    padding-top: 3px; 
    border-bottom: 4px solid $tertiary_color; 
}
