// all imports needed to style home page
@import "../main.scss";                 //imports all global stylings
@import "../components/_buttons.scss";  //imports home page button stylings
@import "../components/rest-cards";     //imports all the stylings for the restaurant cards            


// all stylings pertaining to the home page
.Home-Container{
    position: relative;
    opacity: 0;
    animation: home 1.5s linear 8s forwards;
}

.Home-Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    &__Image{
        height: 45px;
        margin-top: 40px;
        margin-bottom: 5px;
    }
}
.Home-Header__Location{
    background-color: #eaeaea;
    font-size: 25px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid #cecece;
}

.Home__Location--Icon{
    font-size: 28px;
}

.Home__Location--Location{
    margin-right: 50px;
}

.Home-Info{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding-top: 45px;
    padding-bottom: 90px;
    &__Header{
        font-size: 38px;
        margin-right: 30px;
    }
    &__SubHeader{
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        margin-left: 20px;
        line-height: 35px;
    }
}

.Home-Instruct{
    background-color: #ffffff;
    padding: 55px 0px 98px 25px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    &__Header{
         font-size: 35px;
    }
}

.Rest-Card__Container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

// the following styling is used to style the
// the number 'bullets' in the ordered list '<ol>'
.Custom-Counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
  .Custom-Counter li {
    counter-increment: step-counter;
  }

  .Custom-Counter li::before {
    content: counter(step-counter);
    margin-top: 15px;
    font-size: 20px;
    background-color: $primary_color;
    color: white;
    padding: 1px 11px;
    border-radius: 50%;
    position: absolute;
  }

// --> end of styling for the number 'bullets'
// in the ordered list '<ol>'







