// all imports needed to style home page
@import "../main.scss";                 //imports all global stylings
@import "../components/_buttons.scss";  //imports home page button stylings
@import "../components/rest-cards";     //imports all the stylings for the restaurant cards            


// all stylings pertaining to the home page
.Home-Container{
    position: relative;
    opacity: 0;
    animation: home 1.5s linear 8s forwards;
}

.Home-Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__Image{
        height: 42px;
        margin-top: 40px;
        margin-bottom: 5px;

        @media screen and (min-width: 540px){
            height: 50px;
        }
    }
}

.Home-Header__Image-Container{
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 5px 2px #b8b8b8;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.Home-Header__Location{
    background-color: #eaeaea;
    font-size: 23px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: baseline;
    padding: 20px 45px 20px 0px;


    @media screen and (min-width: 540px){
        font-size: 29px;
    }
}

.Home-Info{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 45px;
    padding-bottom: 90px;
    &__Header{
        font-size: 25px;

        @media screen and (min-width: 540px){
            font-size: 45px;
        }
    }
    &__SubHeader{
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;

        @media screen and (min-width: 540px){
            font-size: 29px;
        }
    }
}

.Home-Instruct{
    background-color: #ffffff;
    padding: 55px 0px 98px 25px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    &__Header{
         font-size: 30px;

         @media screen and (min-width: 540px){
            font-size: 43px;
        }
    }
}

.Rest-Card__Header{
    font-size: 32px;

    @media screen and (min-width: 540px){
        font-size: 43px;
    }
}

.Rest-Card__Container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    // tablet layout breakpoint
    @media screen and (min-width: 769px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        column-gap: 0px;
    }

    a.Rest-Card__Link{
        color: black;
        // tablet layout breakpoint
        @media screen and (min-width: 769px){
            flex-basis: 50%;
        } 
    }
}

.Rest-Card__Link-Container-Image-Container-Image{
    height: 200px;

    @media screen and (min-width: 540px){
        height: 275px;
    }
    // tablet layout breakpoint
    @media screen and (min-width: 769px){
        object-position: 55% 0%;
    }
}

.Rest-Card__Link-Container-Image-Container-Banner-Title{
    font-size: 18px;
    right: 1rem;
    padding: 8px 40px;

    @media screen and (min-width: 540px){
        font-size: 24px;
        padding: 8px 55px;
        border-radius: 3px  
    }
    // tablet layout breakpoints
    @media screen and (min-width: 769px){
        font-size: 18px;
        padding: 8px 45px;
        top: 1.2rem;
        right: 1rem;
    }
}

.Rest-Card__Link-Container-Description-Title,
.Rest-Card__Link-Container-Description-Location{
    font-size: 15px;

    @media screen and (min-width: 540px){
        font-size: 33px;
    }
}


.Rest-Card__Link-Container-Description-Icon{
    font-size: 30px;
    bottom: 1.8rem;

    @media screen and (min-width: 540px){
        font-size: 45px;
        bottom: 2.8rem;
    }
    // tablet layout breakpoint
    @media screen and (min-width: 769px){
        font-size: 40px;
        bottom: 3.7rem;
        right: 1.7rem;
    }
}

// the following styling is used to style the
// the number 'bullets' in the ordered list '<ol>'
.Custom-Counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
  .Custom-Counter li {
    counter-increment: step-counter;
  }

  .Custom-Counter li::before {
    content: counter(step-counter);
    margin-top: 15px;
    font-size: 20px;
    background-color: $primary_color;
    color: white;
    padding: 1px 11px;
    border-radius: 50%;
    position: absolute;
  }

// --> end of styling for the number 'bullets'
// in the ordered list '<ol>'

//additional stylings for tablet layout 
@media screen and (min-width: 769px){
    .Rest-Card__Link-Container-Image-Container{
        height: 250px;
    }

    .Rest-Card__Link-Container-Description-Location{
        font-size: 31px;
    }

}






