// turns the 'contact' link to white 
a:link{
    color: white;
}

.Home__Footer{
    color: white;
    background-color: #3d3d3d;
    padding: 30px 0px 30px 25px;
}

.Home__Footer-Contact-Section-Header{
    font-size: 25px;
    padding-bottom: 5px;

}

.Home__Footer-Contact-Section-List{
    list-style-type: none;
    padding-left: 0px;
}

.fa-solid{
    margin-right: 10px;
}

.fa-solid.fa-utensils{
    font-size: 20px;
}

.fa-solid.fa-handshake-angle{
    font-size: 15px;
    margin-right: 9px;
}

.Home__Footer-Contact-Section-List-Item{
    padding-bottom: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.Home__Footer-Contact-Section-List-Item--link{
    text-decoration: none;
}
