.Home__Footer{
    color: white;
    background-color: #3d3d3d;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 50px;
}

.Home__Footer-Contact-Section-List{
    list-style-type: none;
    padding-left: 0px;
}

.Home__Footer-Contact-Section-List-Item--link{
    text-decoration: none;
}

a:link{
    color: white;
}