//color variables needed to style the home page's buttons
$primary_color: #9356DC;   
$secondary_color: #FF79DA;

.Home-Info__Btn-Title{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 35px;
    padding: 15px 40px;
    background-image: linear-gradient($secondary_color, $primary_color);
    box-shadow: 0px 5px 5px 2px #b8b8b8;
}

 .Home-Info__Btn-Title:hover{
     box-shadow: 5px 8px 15px #3d3d3d;
     opacity: 0.8;
     cursor: pointer;
 }

.Home-Instruct__Btn{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.Home-Instruct__Btn-Container-Btn{
    margin-left: 15px;
    margin-top: -12px;
    width: 85%;
    text-align: left;
    background-color: #f6f6f6;
    border: none;
    border-radius: 33px;
    padding: 25px 15px;
    font-weight: bold;
    box-shadow: 0px 5px 10px 2px #d3d3d3;
}

.Home-Instruct__Btn-Container-Btn:hover{
    cursor: pointer; 
    box-shadow: 5px 8px 15px #adadad;
    background-color: #F5EDFE;
    .Home-Instruct__Btn-Container-Icon{
        color: #8354C9;
    } 
}

.Home-Instruct__Btn--Item:hover{
    transform: translateY(-2px);
}

.Home-Instruct__Btn-Container-Icon{
    color: #7b7b7b;
    position: relative;
    font-size: 25px;
    padding-left: 15px;
}

// correction stylings for mobile mockup
@media screen and (min-width: 340px) and (max-width: 447px){
  
}

@media screen and (min-width: 448px) and (max-width: 608px){
    .Home-Instruct__Btn-Container-Btn{
        padding: 30px 5px;
        font-size: 22px;
    }

    .Home-Instruct__Btn-Container-Icon{
        padding-left: 25px;
        padding-right: 0px;
        margin-right: 0px;
        font-size: 25px;
    }
}

@media screen and (min-width: 340px) and (max-width: 608px){
    .Home-Instruct__Btn-Container-Btn{
        width: 88%;
    }
}

