@import "../utils/variables";   //imports are color variable needed to style rest buttons


.Rest-Menu__Course-Container-List--Item-Button{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 20px;
    padding: 15px 12px;
    background-color: #FFFFFF;
    text-align: left;
    width: 100%;
    position: relative;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title{
    font-weight: 500;
    font-size: 30px;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle{
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price{
    font-size: 25px;
    padding-right: 8px;
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    transition: right 1s;
}

.Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon{
    height: 100%;
    width: 0%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: $tertiary_color;
    color: $tertiary_color;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    opacity: 0;
 }

.fa-solid.fa-check{
    font-size: 20px;
    margin: 40px 18px 0px 33px;
    padding: 5px 7px;
    border: 1px solid white;
    border-radius: 50px;
    background: white;
}

// restaurant 'order' button stylings
.Rest-Menu__Course-Container-Button{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}

.Rest-Menu__Course-Container-Button-Title{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, $secondary_color, $primary_color);
    color: white;
    border: none;
    margin-bottom: 100px;
    margin-top: 45px;
    margin-left: 200px;
    padding: 18px 115px;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 2px #b8b8b8;  
}

// transition stylings for the 'dish selection' check
.Rest-Menu__Course-Container-List--Item-Button:hover
.Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon,
.Rest-Menu__Course-Container-List--Item-Button:focus
.Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon,
.Rest-Menu__Course-Container-List--Item-Button:focus-visible
.Rest-Menu__Course-Container--Item-Button-Info-Container-Selection-Icon{
    opacity: 1;
    width: 15%;
}

.Rest-Menu__Course-Container-List--Item-Button:hover 
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price,
.Rest-Menu__Course-Container-List--Item-Button:focus
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price,
.Rest-Menu__Course-Container-List--Item-Button:focus-visible 
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price{
    right: 15%;
}

.Rest-Menu__Course-Container-List--Item-Button:hover 
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle,
.Rest-Menu__Course-Container-List--Item-Button:focus 
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle,
.Rest-Menu__Course-Container-List--Item-Button:focus-visible 
.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle{
    width: 55%;
}

// animation for dishes animated by group
.Rest-Menu__Course-Container-List--Item{
    animation: fadeInUp 500ms ease-out both;
    //the 'for' loop staggers the button animation individually for each group  
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: calc(1000ms + ($i * 250ms));
    }
}
}
//the 'keyframes' below outline the actual animation for  
//each individual dish within each group on each menu
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(25%);
    }

    100%{
        opacity: 1;
    }
}

// correction stylings for mobile mockup
@media screen and (min-width: 340px) and (max-width: 675){
    .Rest-Menu__Course-Container-Button-Title{
        margin-left: 0px;
        padding: 18px 75px;
        font-size: 15px;
    }

    .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title,
    .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price,
    .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle{
        font-size: 15px;
    }

    .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price{
        right: 0.5rem;
        top: 2.1rem;
        padding-right: 45px;
    } 

    .fa-solid.fa-check{
        font-size: 15px;
        margin: 28px 18px 0px 6px;
    }
}