// font variables
$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

// establishing the Roboto and Shrikhand fonts for global styling 
// Roboto - text and Shrikhand - logos and titles
p,h1,h2{
    font-family: $roboto;
}





