// establishing the Roboto and Shrikhand fonts for global styling 
// Roboto - text and Shrikhand - logos and titles
p,h1,h2{
    font-family: 'Roboto', sans-serif;
}

// establishes font rules for ohMyFoods homepage
.Home__Footer-Contact-Section-Header{
    font-family: 'Shrikhand', cursive;
}

.Home-Header__Location{
    font-size: 23px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 29px;
    }
}

.Home-Info__Header{
    font-size: 25px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 45px;
    }
}

.Home-Info__SubHeader{
    font-weight: 300;
    font-size: 18px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 29px;
    }
    // tablet layout breakpoint
    @media screen and (min-width: 770px){
        font-size: 34px;
    }
}

.Home-Instruct__Header{
    font-size: 30px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 43px;
    }
}

.Rest-Card__Header{
    font-size: 32px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 43px;
    }
}

.Rest-Card__Link-Container-Image-Container-Banner-Title{
    font-size: 18px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 24px;
    }
    // tablet layout breakpoints
    @media screen and (min-width: 770px){
        font-size: 18px;
    }
}

.Rest-Card__Link-Container-Description-Title,
.Rest-Card__Link-Container-Description-Location{
    font-size: 15px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 25px;
    }
}

.Rest-Card__Link-Container-Description-Icon{
    font-size: 30px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 45px;
    }
    // tablet layout breakpoint
    @media screen and (min-width: 770px){
        font-size: 35px;
    }
}
// additional stylings for tablet layout 
@media screen and (min-width: 770px){
    .Rest-Card__Link-Container-Description-Location{
        font-size: 24px;
    }
}

// establishes font rules for ohMyFoods homepage
.Rest-Home__Header-Container-Link{
    font-size: 30px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 35px;
    }
}

.Rest-Menu__Header-Container-Title{
    font-family: 'Shrikhand', cursive;
}

.Rest-Menu__Header-Container-Title,
.Rest-Menu__Header-Container-Icon{
    font-size: 25px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 45px;
    }
    // desktop layout breakpoint
    @media screen and (min-width: 1025px) {
        font-size: 55px;   
    }
}

.Rest-Menu__Course-Container-Title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #7C7C7C; 
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 30px;
    }
}

// establishes font rules for home page restaurant cards
.Rest-Card__Header{
    font-size: 35px;
}

.Rest-Card__Link-Container-Image-Container-Banner-Title{
    color: #3A8568;
    font-size: 25px;
    font-weight: 500;
}

.Rest-Card__Link-Container-Description-Title{
    font-size: 30px;
 }

.Rest-Card__Link-Container-Description-Location{
    font-size: 25px;
    font-weight: 300;
    // desktop layout breakpoint
    @media screen and (min-width: 1025px) {
        font-size: 28px;
    }
}

.Rest-Card__Link-Container-Description-Icon{
    font-size: 45px;
}

// establishes font rules for home page buttons
.Home-Info__Btn-Title{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 25px;
    }
}

.Home-Instruct__Btn{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.Home-Instruct__Btn-Container-Icon{
    font-size: 25px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 32px;
    }
}

.Home-Instruct__Desktop-Btn--Btn{
    color: white;
    font-family: 'Roboto', sans-serif;
}
// additional stylings for mobile layout
@media screen and (min-width: 540px){
    .Home-Instruct__Btn-Container-Btn{
        font-size: 28px;
    }
}
    
// establishes font rules for restaurant menu buttons
.Rest-Menu__Course-Container-List--Item-Button{
    font-family: 'Roboto', sans-serif;
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Title{
    font-weight: 500;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 33px;
    }  
}

.Rest-Menu__Course-Container-List--Item-Button-Info-Container-Subtitle{
    font-weight: lighter;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 27px;
    }
}

.fa-solid.fa-check{
    font-size: 15px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 22px;
    }
}

.Rest-Menu__Course-Container-Button{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    // mobile layout breakpoint
    @media screen and (min-width: 540px){
        font-size: 25px;
    }
    // desktop layout breakpoint
    @media screen and (mid-width: 1025px){
        font-size: 35px;
    }
}

.Rest-Menu__Course-Container-Button-Title{
    color: white;
}
// additional stylings for mobile layout
@media screen and (min-width: 540px){
    .Rest-Menu__Course-Container-List--Item-Button-Info-Container-Price{
        font-size: 30px;
    }
}





